* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Helvetica, sans-serif;
}
.container {
    width: 70%;
    margin: 0 auto;
    min-width: 1400px;
}
.row::after {
    content: "";
    display: table;
    clear: both;
}
.button {
    display: inline-block;
    text-decoration: none;
}

/* header */

/* nav */
header nav {
    background-color: #255ee9;
    height: 80px;
    width: 100%;
    padding-top: 30px;
}
header nav #navsx {
    float: left;
    width: 30%;
    height: 100%;
}
header nav #navcenter {
    float: left;
    padding-top: 5px;
    width: 40%;
    height: 100%;
    text-align: center;
}
header nav #navcenter ul {
    list-style-type: none;
}
header nav #navcenter ul li{
    display: inline;
    margin-right: 5%;
}
header nav #navcenter ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}
header nav #navcenter ul li a:hover {
    text-decoration: underline;
}
header nav #navdx {
    float: left;
    width: 30%;
    height: 100%;
    text-align: right;
}
header nav #navdx .button {
    padding: 8px 15px;
    color: black;
    background-color: white;
    border-radius: 20px;
}
header nav #navdx .button:hover {
    color: #7289da;
    box-shadow: 0 8px 15px rgba(0,0,0,.2);
}

/* jumbotron */
#jumbotron {
    background-image: url("../img/jumbo.png");
    height: 650px;
    width: 100%;
    background-size: cover;
}
#jumbotron .container {
    max-width: 50%;
    margin: 0 auto;
    padding-top: 150px;
    text-align: center;
    color: white;
    min-width: 950px;
}
#jumbotron .container h1 {
    font-size: 60px;
}
#jumbotron .container p {
    margin-top: 50px;
    font-size: 25px;
    line-height: 40px;
}
#jumbotron .container .buttons {
    margin-top: 50px;
}
#jumbotron .container .buttons .button {
    color: black;
    background-color: white;
    padding: 15px 25px;
    font-size: 25px;
    border-radius: 30px;
    margin-right: 40px;
}
#jumbotron .container .buttons .button:hover {
    color: #7289da;
    box-shadow: 0 8px 15px rgba(0,0,0,.2);
}
#jumbotron .container .buttons .button i {
    margin-right: 5px;
}
#jumbotron .container .buttons .bblack {
    color: white;
    background-color: #23272a;
    margin-right: 0;
}
#jumbotron .container .buttons .bblack:hover {
    color: white;
    box-shadow: 0 8px 15px rgba(0,0,0,.2);
}

/* main */
main .box {
    height: 700px;
    width: 100%;
}
main #box2{
    background-color: #f6f6f6;
}
main .wave {
    position: relative;
}
main #box4{
    height: 1300px;
    background-color: #f6f6f6;
    text-align: center;
    padding-top: 50px;
}
main .box .colimg {
    float: left;
    width: 65%;
    padding: 0 5%;
    margin-top: 100px;
}
main .box .colimg img {
    max-width: 100%;
    max-height: auto;
}
main .box .coltext {
    float: left;
    width: 35%;
    padding: 0 10px;
    margin-top: 130px;
}
main .box h2 {
    font-size: 50px;
}
main .box p {
    margin-top: 50px;
    font-size: 22px;
    line-height: 30px;
}
main .box h3 {
    font-size: 30px;
    margin-top: 50px;
}
main #box4 .img img{
    width: 1200px;
    height: auto;
}
main #box4 .text {
    position: relative;
    margin-top: 50px;
}
main #box4 #star {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-100%);

}
main .box .button {
    margin-top: 50px;
    color: white;
    background-color: #8ea1e1;
    padding: 15px 25px;
    font-size: 25px;
    border-radius: 30px;
    margin-right: 40px;
}
main .box .button:hover {
    box-shadow: 0 8px 15px rgba(0,0,0,.2);
}
main .box .button i {
    margin-right: 5px;
}
.waveimg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    transform: translate(0%, -60%);
}

/* footer */
footer {
    background-color: #23272a;
    width: 100%;
    height: 700px;
}
footer .social {
    float: left;
    width: 30%;
    margin-top: 50px;
}
footer .social #lingua h3 {
    font-size: 35px;
    color: #7289da;
}
footer .social #lingua img {
    height: 18px;
    width: auto;
    margin-top: 20px;
}
footer .social #lingua span {
    color: white;
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    margin-left: 5px;
    padding-bottom: 10px;
}
footer .social #lingua span i {
    margin-left: 5px;
}
footer .social #social {
    margin-top: 20px;
}
footer .social #social i {
    color: white;
    font-size: 20px;
    margin-right: 20px;
}
footer .risorse {
    float: left;
    width: calc(17.5% - 20px);
    margin-left: 20px;
    margin-top: 50px;
    font-size: 18px;
}
footer .risorse h4 {
    color: #7289da;
    padding-top: 5px;
}
footer .risorse ul {
    list-style-type: none;
}
footer .risorse ul li {
    line-height: 40px;
}
footer .risorse ul li a {
    text-decoration: none;
    color: white;
}
footer .risorse ul li a:hover {
    text-decoration: underline;
}
footer .colsx {
    float: left;
    width: 50%;
    margin-top: 50px;
    padding-top: 50px;
    border-top: solid 1px #7289da;
}
footer .coldx {
    float: left;
    width: 50%;
    text-align: right;
    margin-top: 50px;
    padding-top: 50px;
    border-top: solid 1px #7289da;
}
footer .coldx .button {
    color: white;
    background-color: #8ea1e1;
    padding: 8px 15px;
    border-radius: 20px;
}
footer .coldx .button:hover {
    box-shadow: 0 8px 15px rgba(0,0,0,.2);
}